<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.library.new_library.mapper.ReserveMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.library.new_library.entity.Reserve">
        <result column="isbn" property="isbn" />
        <result column="place" property="place" />
        <result column="user_id" property="userId" />
        <result column="retime" property="retime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        isbn, place, user_id, retime
    </sql>

</mapper>
